@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        gap: 0px;

    }

    header {
        height: auto;
    }

    nav ul {
        flex-direction: column;
        gap: 40px;
        margin: 62px 0 0 0;
    }

    .follow-btn {
        margin: 22px 0 0 0;
    }

    /* main section */

    .sec1 {
        flex-direction: column;
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 70%;
        width: 90%;
        padding: 20px;
    }

    .text-icon > p{
        margin: 0 0 0 8px;
        font-size: 18px;
    }

    .btns button {
        color: rgb(255, 255, 255);
        padding: 14px 31px;
    }

    .icons {
        width: auto;
        margin: 10px 0 0 15px;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }


    /* section 2 */


    .sec2 {
        flex-direction: column;
        gap: 0;
    }

    .left-side img {
        width: 90%;

    }

    .right-side h2 {
        font-size: 26px;
        text-align: center;
    }

    .right-side button {
        margin: 0 0 60px 0;
    }

    .right-side {
        align-items: center;
    }

    .description {
        text-align: center;
        font-size: 16px;
        width: 85%;
    }

    .heading h1 {
        text-align: center;
    }

    .heading p {
        font-size: 100%;
        margin: 19px 0 48PX 0;
        width: 66%;

    }

    .card-holder {
        flex-direction: column;
        margin: 70px 0 0 0;
    }

    /* section 4 */

    .content {
        flex-direction: column;
    }


    .text {
        align-items: center;
    }

    .text h2 {
        font-size: 39px;
        text-align: center;
        width: auto;
    }

    .text p {
        font-size: 14px;
        text-align: center;
        width: auto;
    }


    .text p {
        margin: 0 0 24px 0;
    }

    .images {
        width: 372px;
        height: 381px;

    }

    .relative {
        right: 7%;
    }


    /* section 5 */

    .sec5 {
        margin: 0 0 120px 0;
    }

    .game-container {

        grid-template-columns: repeat(3, 125px);
        margin: 48px 0 0 -11px;
        row-gap: 12px;
        column-gap: 24px;
    }

    .game {

        width: 125px;
        height: 40px;
        gap: 5px;
        padding: 0 2px;


    }

    .game p {
        font-size: 10px;
    }

    .game:nth-child(6),
    .game:nth-child(7),
    .game:nth-child(8),
    .game:nth-child(9) {
        margin: 0;
    }

    .game img {
        width: 20px;
    }


    /* footer */
    .link ul {
        flex-wrap: wrap;
        width: 370px;
    }

    .social {
        width: 188px;
        margin: 66px auto 74px auto;
        flex-wrap: wrap;
    }

    .rights ul {
        flex-wrap: wrap;
        width: 336px;
    }

}





@media screen and (min-width:576px) and (max-width:768px) {
    nav {
        flex-direction: column;
        gap: 0px;

    }



    nav ul {

        margin: 62px 0 00 0;

    }

    /* main section */

    .sec1 {
        flex-direction: column;
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }



    /* section 2 */


    .sec2 {
        flex-direction: column;
        gap: 0;
    }

    .left-side img {
        width: 90%;

    }

    .right-side button {
        margin: 0 0 60px 0;
    }

    .right-side {
        align-items: center;
    }

    .description {
        text-align: center;
        font-size: 16px;
        width: 85%;
    }

    /* section 3 */
    .heading h1 {
        text-align: center;
    }

    .card-holder {
        flex-direction: column;
        margin: 70px 0 0 0;
    }




    /* section 4 */

    .content {
        flex-direction: column;
    }

    .images {
        width: 100%;
        height: auto;
    }

    .text {
        align-items: center;
    }

    .text h2,
    .text p {
        text-align: center;
        width: auto;

    }

    .text p {
        margin: 0 0 24px 0;
    }

    .images {
        width: 372px;
        height: 381px;

    }


    /* secton 5 */



    .game-container {

        grid-template-columns: repeat(2, 250px);
        gap: 35px;
    }



    .game p {
        font-size: 13.33px;
    }

    .game:nth-child(6),
    .game:nth-child(7),
    .game:nth-child(8),
    .game:nth-child(9) {
        margin: 0;
    }

    .game img {
        width: 40px;
    }


    /* footer */
    .link ul {
        flex-wrap: wrap;
        width: 370px;
    }

    .social {

        margin: 66px auto 74px auto;
        flex-wrap: wrap;
    }

    .rights ul {
        flex-wrap: wrap;
        width: 336px;
    }



}

@media screen and (min-width:768px) and (max-width:992px) {
    nav {
        flex-direction: column;
        gap: 0px;

    }



    nav ul {

        margin: 62px 0 00 0;
        gap: 90px;
    }

    /* main section */

    .sec1 {
        flex-direction: column;
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }




    /* section 2 */


    .sec2 {
        flex-direction: column;
        gap: 0;
    }

    .left-side img {
        width: 90%;

    }

    .right-side button {
        margin: 0 0 60px 0;
    }

    .right-side {
        align-items: center;
    }

    .description {
        text-align: center;
        font-size: 16px;
        width: 85%;
    }

    /* section 3 */
    .card-holder {
        flex-wrap: wrap;
    }



    /* section 4 */

    .content {
        flex-direction: column;
    }

    .images {
        width: 100%;
        height: auto;
    }

    .text {
        align-items: center;
    }

    .text h2,
    .text p {
        text-align: center;
        width: auto;

    }

    .text p {
        margin: 0 0 24px 0;
    }

    .images {
        width: 372px;
        height: 381px;

    }


    /* secton 5 */



    .game-container {

        grid-template-columns: repeat(3, 165.555px);

        /* gap: 50px; */
    }

    .game {

        width: 166.66px;
        height: 53.33px;

    }

    .game p {
        font-size: 13.33px;
    }

    .game:nth-child(6),
    .game:nth-child(7),
    .game:nth-child(8),
    .game:nth-child(9) {
        margin: 0;
    }

    .game img {
        width: 40px;
    }



    /* footer */
    .link ul {
        flex-wrap: wrap;
        width: 370px;
    }

    .social {

        margin: 66px auto 74px auto;
        flex-wrap: wrap;
    }

    .rights ul {
        flex-wrap: wrap;
        width: 336px;
    }




}


@media screen and (min-width:992px) and (max-width:1200px) {
    nav {
        gap: 300px;

    }

    .logo h1 {

        font-size: 30px;


    }

    .follow-btn {
        display: flex;
        gap: 10px;
        padding: 17px 5px;
        border-radius: 8px;


    }


    .sec1 {
        /* flex-direction: column; */
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }


    /* section 2 */

    .sec2 {
        gap: 0;
    }

    .right-side {
        margin: 0 55px 0 0;
    }


    .right-side h1 {
        font-size: 38px;
    }

    .description {
        font-size: 16px;
        font-weight: 400;
        width: 66%;
    }

    .left-side img {
        width: calc(100% + 200px);

    }

    .card-holder {
        display: grid;
        grid-template-rows: repeat(2, 488.331px);
        grid-template-columns: repeat(2, 356px);
    }

    .images {
        width: 600px;

        height: 480px;
        margin: 0 20px 0 0;

    }



    /* secton 5 */



    .game-container {

        grid-template-columns: repeat(4, 165.555px);


    }

    .game {

        width: 166.66px;
        height: 53.33px;

    }

    .game p {
        font-size: 13.33px;
    }

    .game:nth-child(6),
    .game:nth-child(7),
    .game:nth-child(8),
    .game:nth-child(9) {
        margin: 0;
    }

    .game img {
        width: 40px;
    }




}


@media screen and (min-width:1200px) and (max-width:1400px) {
    nav {
        gap: 300px;
        margin: 20px 0 00 0;
    }

    .logo h1 {

        font-size: 30px;


    }

    .follow-btn {
        display: flex;
        gap: 10px;
        padding: 17px 10px;
        border-radius: 8px;


    }

    .fa-youtube,
    .fa-tiktok {

        font-size: 18px;
    }



    .sec1 {
        /* flex-direction: column; */
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }



    /* section 2 */

    .sec2 {
        gap: 0;
    }

    .right-side {
        margin: 0 55px 0 0;
    }


    .right-side h1 {
        font-size: 38px;
    }

    .description {
        font-size: 16px;
        font-weight: 400;
        width: 66%;
    }

    .left-side img {
        width: calc(100% + 200px);

    }


    .card-holder {
        display: grid;
        grid-template-rows: repeat(2, 460px);
        grid-template-columns: repeat(2, 340px);
    }


    .parent {
        justify-content: center;
    }

    .images {
        width: 751px;
        height: 579px;

    }



    /* secton 5 */



    .game-container {

        grid-template-columns: repeat(4, 248px);

        /* gap: 50px; */
    }

    .game {

        width: 248px;
        height: 80px;

    }

    .game p {
        font-size: 20px;
    }

    .game:nth-child(6),
    .game:nth-child(7),
    .game:nth-child(8),
    .game:nth-child(9) {
        margin: 0;
    }

    .game img {
        width: 40px;
    }









}





@media screen and (min-width:1400px) and (max-width:1650px) {
    nav {
        gap: 300px;
        margin: 20px 0 00 0;
    }

    .logo h1 {

        font-size: 30px;


    }

    .follow-btn {
        display: flex;
        gap: 10px;
        padding: 17px 10px;
        border-radius: 8px;


    }

    .fa-youtube,
    .fa-tiktok {

        font-size: 18px;
    }



    .sec1 {
        /* flex-direction: column; */
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 53%;

    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }


    .card-holder {
        display: grid;
        grid-template-rows: repeat(2, 459px);
        grid-template-columns: repeat(2, 342px);
    }


    .parent {
        justify-content: center;
    }

    .images {
        width: 751px;
        height: 579px;
        margin: 0 30px 0 0;

    }



    /* secton 5 */



    .game-container {

        grid-template-columns: repeat(4, 248px);

        /* gap: 50px; */
    }

    .game {

        width: 248px;
        height: 80px;

    }

    .game p {
        font-size: 20px;
    }

    .game:nth-child(6),
    .game:nth-child(7),
    .game:nth-child(8),
    .game:nth-child(9) {
        margin: 0;
    }

    .game img {
        width: 40px;
    }





}