@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        gap: 0px;

    }

    header {
        height: auto;
    }

    nav ul {
        flex-direction: column;
        gap: 40px;
        margin: 62px 0 0 0;
    }

    .follow-btn {
        margin: 22px 0 0 0;
    }

    /* main section */

    .sec1 {
        flex-direction: column;
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 70%;
        width: 90%;
        padding: 20px;
    }

    .btns button {
        color: rgb(255, 255, 255);
        padding: 14px 31px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }


    /* section 2 */


    .sec2 {
        flex-direction: column;
        gap: 0;
    }

    .left-side img {
        width: 90%;

    }

    .right-side h2 {
        font-size: 26px;
    }

    .right-side button {
        margin: 0 0 60px 0;
    }

    .right-side {
        align-items: center;
    }

    .description {
        text-align: center;
        font-size: 16px;
        width: 85%;
    }

    .heading h1 {
        text-align: center;
    }

    .card-holder {
        flex-direction: column;
        margin: 70px 0 0 0;
    }

    /* section 4 */

    .content {
        flex-direction: column;
    }

    .images {
        width: 100%;
        height: auto;
    }

    .text {
        align-items: center;
    }

    .text h2,
    .text p {
        text-align: center;
        width: auto;

    }

    .text p {
        margin: 0 0 24px 0;
    }

    .images {
        width: 372px;
        height: 381px;

    }


}


@media screen and (min-width:576px) and (max-width:768px) {
    nav {
        flex-direction: column;
        gap: 0px;

    }



    nav ul {

        margin: 62px 0 00 0;

    }

    /* main section */

    .sec1 {
        flex-direction: column;
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }



    /* section 2 */


    .sec2 {
        flex-direction: column;
        gap: 0;
    }

    .left-side img {
        width: 90%;

    }

    .right-side button {
        margin: 0 0 60px 0;
    }

    .right-side {
        align-items: center;
    }

    .description {
        text-align: center;
        font-size: 16px;
        width: 85%;
    }

    /* section 3 */
    .heading h1 {
        text-align: center;
    }

    .card-holder {
        flex-direction: column;
        margin: 70px 0 0 0;
    }




    /* section 4 */

    .content {
        flex-direction: column;
    }

    .images {
        width: 100%;
        height: auto;
    }

    .text {
        align-items: center;
    }

    .text h2,
    .text p {
        text-align: center;
        width: auto;

    }

    .text p {
        margin: 0 0 24px 0;
    }

    .images {
        width: 372px;
        height: 381px;

    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    nav {
        flex-direction: column;
        gap: 0px;

    }



    nav ul {

        margin: 62px 0 00 0;
        gap: 90px;
    }

    /* main section */

    .sec1 {
        flex-direction: column;
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }




    /* section 2 */


    .sec2 {
        flex-direction: column;
        gap: 0;
    }

    .left-side img {
        width: 90%;

    }

    .right-side button {
        margin: 0 0 60px 0;
    }

    .right-side {
        align-items: center;
    }

    .description {
        text-align: center;
        font-size: 16px;
        width: 85%;
    }

    /* section 3 */
    .card-holder {
        flex-wrap: wrap;
    }



    /* section 4 */

    .content {
        flex-direction: column;
    }

    .images {
        width: 100%;
        height: auto;
    }

    .text {
        align-items: center;
    }

    .text h2,
    .text p {
        text-align: center;
        width: auto;

    }

    .text p {
        margin: 0 0 24px 0;
    }

    .images {
        width: 372px;
        height: 381px;

    }




}


@media screen and (min-width:992px) and (max-width:1200px) {
    nav {
        gap: 300px;

    }

    .logo h1 {

        font-size: 30px;


    }

    .follow-btn {
        display: flex;
        gap: 10px;
        padding: 17px 5px;
        border-radius: 8px;


    }


    .sec1 {
        /* flex-direction: column; */
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }


    /* section 2 */

    .sec2 {
        gap: 0;
    }

    .right-side {
        margin: 0 55px 0 0;
    }


    .right-side h1 {
        font-size: 38px;
    }

    .description {
        font-size: 16px;
        font-weight: 400;
        width: 66%;
    }

    .left-side img {
        width: calc(100% + 200px);

    }

    .card-holder {
        display: grid;
        grid-template-rows: repeat(2, 449.331px);
        grid-template-columns: repeat(2, 341px);
    }

    .images{
        width: 600px;
       
        height: 480px;
        margin: 0 20px 0 0;
    
    }




}


@media screen and (min-width:1200px) and (max-width:1400px) {
    nav {
        gap: 300px;
        margin: 20px 0 00 0;
    }

    .logo h1 {

        font-size: 30px;


    }

    .follow-btn {
        display: flex;
        gap: 10px;
        padding: 17px 10px;
        border-radius: 8px;


    }

    .fa-youtube,
    .fa-tiktok {

        font-size: 18px;
    }



    .sec1 {
        /* flex-direction: column; */
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 90%;
        padding: 20px;
    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }



    /* section 2 */

    .sec2 {
        gap: 0;
    }

    .right-side {
        margin: 0 55px 0 0;
    }


    .right-side h1 {
        font-size: 38px;
    }

    .description {
        font-size: 16px;
        font-weight: 400;
        width: 66%;
    }

    .left-side img {
        width: calc(100% + 200px);

    }


    .card-holder {
        display: grid;
        grid-template-rows: repeat(2, 460px);
        grid-template-columns: repeat(2, 340px);
    }


    .parent {
        justify-content: center;
    }

    .images {
        width: 751px;
        height: 579px;
       
    }









}





@media screen and (min-width:1400px) and (max-width:1650px) {
    nav {
        gap: 300px;
        margin: 20px 0 00 0;
    }

    .logo h1 {

        font-size: 30px;


    }

    .follow-btn {
        display: flex;
        gap: 10px;
        padding: 17px 10px;
        border-radius: 8px;


    }

    .fa-youtube,
    .fa-tiktok {

        font-size: 18px;
    }



    .sec1 {
        /* flex-direction: column; */
        padding: 0 24px 14px 24px;
        height: auto;
        align-items: center;
    }

    .left {
        background-position-x: 52%;
        width: 53%;

    }

    .icons {
        width: auto;
    }

    .right img {
        width: 434px;
        margin: 14px 0 0 0;
    }


    .card-holder {
        display: grid;
        grid-template-rows: repeat(2, 459px);
        grid-template-columns: repeat(2, 342px);
    }


    .parent {
        justify-content: center;
    }

    .images {
        width: 751px;
        height: 579px;
        margin: 0 30px 0 0;
       
    }




}