@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

header {

    display: flex;
    justify-content: center;
    height: auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 38px 0;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 681.96px;

}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

nav ul a {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;

    font-weight: 500;

}


nav ul li:hover {
    border-bottom: 1px solid red;
    transition: 0.5s;
    padding: 0 0 5px 0;

}

.logo a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.G {
    color: #FF42A5;
}

.logo h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;

}

.follow-btn {

    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 14px;
    padding: 17px 24px;
    border-radius: 8px;
    transition: 0.3s;

}

.follow-btn:hover {
    cursor: pointer;
    background: rgba(11, 2, 35, 0.342);
    transition: 0.5s;
}

.follow-btn p {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;

    font-weight: 500;

}

.u-tube {
    color: red;
    font-size: 25px;
}

.fa-tiktok {
    color: #000000;
    font-size: 25px;

}


/* main section */

.sec1 {
    display: flex;
    justify-content: space-between;

    gap: 24px;
    height: 700px;
    overflow: hidden;
}

.left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 901px;
    background-image: url("./images/Group 14.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.tittles>h2 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;

}

.tittles>h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.icons {

    margin: 10px 0 0 35px;
    width: 39.62%;

}

.icons>div {
    margin-top: 14px;
}

.text-icon>P {
    display: inline;
    margin: 0 0 0 7px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;

    font-weight: 500;

}

.btns {
    margin: 41px 0 0 0;
    display: flex;
    gap: 24px;
}

.btns button {
    color: rgb(255, 255, 255);
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    font-family: Work Sans;
    font-size: 20px;

    font-weight: 600;

}

.btn-1 {

    background: #FF42A5;

}

.btn-1:hover {
    background: transparent;
    box-shadow: inset 150px 0 #FF42A5;
    cursor: pointer;
    transition: 0.5s;
}



.btn-2 {

    background: #4EC5F7;

}

.btn-2:hover {
    background: transparent;
    box-shadow: inset 180px 0 #4EC5F7;
    cursor: pointer;
    transition: 0.5s;
}


/* section 2 */

.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right-side h1 {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    width: 520px;

    margin: 24px 0 32px 0;

}

.right-side button {
    padding: 15px 30px;
    border-radius: 48px;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF42A5;
    margin: 0 0 32px 0;


}

.right-side button:hover {
    background: transparent;
    box-shadow: inset 200px 0 #FF42A5;
    cursor: pointer;
    transition: 0.5s;

}


.purpose {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;

}

.right-side h2 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
}

/* section 3 */

.sec3 {
    padding: 120px 0;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1 {
    color: #0B0223;

    font-family: Work Sans;
    font-size: 48px;
    margin: 0 0 16px 0;
    font-weight: 700;

}

.heading p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 48PX 0;


}

.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main-card {
    width: 342px;
}

.main-card > p {
    text-align: left;
    margin: 24px 0 0 0;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;

}

.card-holder {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Work Sans;
    
    font-weight: 600;
    overflow: hidden;

}

.card1 {
    background-image: url("./images/Rectangle 4.png");
}

.card1:hover {
    transition: 0.6s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/Rectangle 4.png");
    cursor: pointer;
}


.card3 {
    background-image: url("./images/Rectangle 7.png");
}

.card3:hover {
    transition: 0.6s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/Rectangle 7.png");
    cursor: pointer;
}

.card4 {
    background-image: url("./images/Rectangle 6.png");
}

.card4:hover {
    transition: 0.6s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/Rectangle 6.png");
    cursor: pointer;
}

.card2 {
    background-image: url("./images/Rectangle 5.png");
}

.card2:hover {
    transition: 0.6s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/Rectangle 5.png");
    cursor: pointer;
}

.card > i {
    color: white;
    font-size: 50px;
    margin: 500px 0 0 0;
    transition: 0.5s;
    opacity: 0;
}

.card:hover .fa-circle-play {
    margin: 0;
    transition: 0.5s;
    opacity: 1;
}

.card p {
    color: #FF42A5;
    margin: 15px 0 0 0;
    font-size: 30px;
}



/* section 4 */
.sec4 {
    display: flex;
    justify-content: center;
    padding: 120px 0;

}

.parent {
    width: 1428px;
    display: flex;
    justify-content: end;


}

.content {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.images {
    background-image: url("./images/Rectangle 55.png");
    width: 864px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 655px;

}

.relative {
    position: relative;
    top: 61%;
    right: 13%;
    width: 43%;

}


.text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 65%;

}

.text h2 {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    width: 341px;
    margin: 0 0 24px 0;

}

.text span {
    color: #F948B2;
}

.text p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    width: 353px;



}

/* section-5*/

.sec5 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 0;
}


.game-container {
    display: grid;
    grid-template-columns: repeat(5, 248px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 49px;
    row-gap: 57px;
    margin: 48px 0 0 0;
}



.game {
    width: 250px;
    height: 80px;
    border-radius: 50px;
    border: 1.5px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: white;
    padding: 0 10px;
    transition: 0.3s;
}

.game:hover {
    border: 1.5px solid #FF42A5;
    cursor: pointer;
    transition: 0.4s;
    
}

.game:hover p{
    color: #FF42A5;
    transition: 0.4s;
}

.game:nth-child(6),
.game:nth-child(7),
.game:nth-child(8),
.game:nth-child(9) {
    margin: 0 0 0 98px;
}

.game p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;


}

/* footer */
footer {
    padding: 120px 0;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-head h1 {
    font-family: Work Sans;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin: 0 0 0 20px;

}

.foot-head img {
    height: 40px;
    width: 86px;
}

.link{
    display: flex;
    justify-content: center;
}


.link ul {
    display: flex;
    justify-content: center;
    gap: 60px;

    margin: 56px 0 0 0;

}

.link ul li a {
    color: white;
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;


}

.link ul li a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    cursor: pointer;


}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 66px 0 74px 0;
    gap: 50px;
}

.social a {
    font-size: 28px;
    color: white;
}

.social a:hover {
    color: rgb(172, 172, 172);
}

.rights{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rights ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 0 40px 0;
}

.rights ul li a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;

}

.rights ul li a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.foot > p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}